{% extends 'base.html.twig' %}

{% block title %}{% trans %} shorts {% endtrans %} index{% endblock %}

{% block body %}


{% if is_granted('ROLE_ADMIN') %}
    <h1 class='text-center'>{% trans %} shorts {% endtrans %} index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %} nomProduit {% endtrans %}</th>
                <th>{% trans %} prix {% endtrans %}</th>
                <th>{% trans %} marque {% endtrans %}</th>
                <th>{% trans %} description {% endtrans %}</th>
                <th>{% trans %} stock {% endtrans %}</th>
                <th>{% trans %} status {% endtrans %}</th>
                <th>{% trans %} taille {% endtrans %}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for short in shorts %}
            <tr>
                <td>{{ short.id }}</td>
                <td>{{ short.nom }}</td>
                <td>{{ short.prix }}</td>
                <td>{{ short.marque }}</td>
                <td>{{ short.description }}</td>
                <td>{{ short.stock }}</td>
                <td>{{ short.Status }}</td>
                <td>{{ short.taille }}</td>
                <td>
                    <a href="{{ path('app_short_show', {'id': short.id}) }}">{% trans %} voir {% endtrans %}</a>
                    <a href="{{ path('app_short_edit', {'id': short.id}) }}">{% trans %} modifier {% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{% trans %} pasEnregistrements {% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_short_new') }}" class='btn btn-outline-primary'>{% trans %} nouveauProduit {% endtrans %}</a>
{% endif %}
{% endblock %}