<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}">E-commerce</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <select class="form-select w-auto" onchange="window.location.href = this.value">
    
            <option value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'fr'})) }}" 
                    {% if app.request.locale == 'fr' %}selected{% endif %}>
                🇫🇷 Français
            </option>

            <option value="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': 'en'})) }}" 
                    {% if app.request.locale == 'en' %}selected{% endif %}>
                🇬🇧 English
            </option>

        </select>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_pull_index') }}">{% trans %} pulls {% endtrans %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_t_shirt_index') }}">{% trans %} tshirts {% endtrans %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_pantalon_index') }}">{% trans %} pantalons {% endtrans %}</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_short_index') }}">{% trans %} shorts {% endtrans %}</a>
                </li>

                <li class="nav-item">
                    <a href="{{ path('panier_index') }}" class="nav-link" data-controller="panier-status">
                        {% trans %} panier {% endtrans %}
                        <span class="badge bg-dark text-white ms-1 rounded-pill" data-panier-status-target="compteur">
                            
                            {% set total = 0 %}
                            {% for quantity in app.session.get('panier', []) %}
                                {% set total = total + quantity %}
                            {% endfor %}
                            {{ total }}
                            
                        </span>
                    </a>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_adminPage_index') }}">Admin</a> 
                    </li>
                {% endif %}

                

                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">{% trans %}deconnexion{% endtrans %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">{% trans %}connexion{% endtrans %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
