{% extends 'base.html.twig' %}

{% block title %}{% trans %} tshirts {% endtrans %} index{% endblock %}

{% block body %}


{% if is_granted('ROLE_ADMIN') %}
    <h1 class='text-center'>{% trans %} tshirts {% endtrans %} index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %} nomProduit {% endtrans %}</th>
                <th>{% trans %} prix {% endtrans %}</th>
                <th>{% trans %} marque {% endtrans %}</th>
                <th>{% trans %} description {% endtrans %}</th>
                <th>{% trans %} stock {% endtrans %}</th>
                <th>{% trans %} status {% endtrans %}</th>
                <th>{% trans %} taille {% endtrans %}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for t_shirt in t_shirts %}
            <tr>
                <td>{{ t_shirt.id }}</td>
                <td>{{ t_shirt.nom }}</td>
                <td>{{ t_shirt.prix }}</td>
                <td>{{ t_shirt.marque }}</td>
                <td>{{ t_shirt.description }}</td>
                <td>{{ t_shirt.stock }}</td>
                <td>{{ t_shirt.Status }}</td>
                <td>{{ t_shirt.taille }}</td>
                <td>
                    <a href="{{ path('app_t_shirt_show', {'id': t_shirt.id}) }}">{% trans %} voir {% endtrans %}</a>
                    <a href="{{ path('app_t_shirt_edit', {'id': t_shirt.id}) }}">{% trans %} modifier {% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{% trans %} pasEnregistrements {% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_t_shirt_new') }}" class='btn btn-outline-primary' >{% trans %} nouveauProduit {% endtrans %}</a>
{% endif %}
{% endblock %}