{% extends 'base.html.twig' %}

{% block title %}TShirt index{% endblock %}

{% block body %} 
    <h1 class="mb-4 text-center">{% trans %} nosTShirts {% endtrans %}</h1>

<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for t_shirt in t_shirts %}
            <div class="col">
                <div class="card h-100 shadow-sm card-hover">

                    {% set image = t_shirt.getImages()|first %}
                    {% if image %}
                        <img src="{{ asset('uploads/' ~ image.url) }}" 
                            class="card-img-top" 
                            alt="{{ t_shirt.nom }}">
                    {% else %}
                        <div class="card-img-top bg-light text-center" style="height:200px; line-height:200px;">
                            {% trans %} pasImage {% endtrans %}
                        </div>
                    {% endif %}

                    <div class="card-body text-center">
                        <h5 class="card-title">{{ t_shirt.nom }}</h5>
                        <p class="card-text text-muted">{{ t_shirt.description }}</p>
                        <p class="fw-bold">{{ t_shirt.prix }} €</p>
                    </div>

                    <a href="{{ path('app_' ~ t_shirt.type ~ '_show', {'id': t_shirt.id}) }}" 
                    class="stretched-link"></a>

                </div>
            </div>
    {% endfor %}
</div>
{% endblock %}
