{% extends 'base.html.twig' %}

{% block title %}{% trans %} pantalons {% endtrans %} index{% endblock %}

{% block body %}


{% if is_granted('ROLE_ADMIN') %}
    <h1 class='text-center'>{% trans %} pantalons {% endtrans %} index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %} nomProduit {% endtrans %}</th>
                <th>{% trans %} prix {% endtrans %}</th>
                <th>{% trans %} marque {% endtrans %}</th>
                <th>{% trans %} description {% endtrans %}</th>
                <th>{% trans %} stock {% endtrans %}</th>
                <th>{% trans %} status {% endtrans %}</th>
                <th>{% trans %} taille {% endtrans %}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for pantalon in pantalons %}
            <tr>
                <td>{{ pantalon.id }}</td>
                <td>{{ pantalon.nom }}</td>
                <td>{{ pantalon.prix }}</td>
                <td>{{ pantalon.marque }}</td>
                <td>{{ pantalon.description }}</td>
                <td>{{ pantalon.stock }}</td>
                <td>{{ pantalon.status.name  }}</td>
                <td>{{ pantalon.taille }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        <a href="{{ path('app_pantalon_show', {'id': pantalon.id}) }}">{% trans %} voir {% endtrans %}</a>
                        <a href="{{ path('app_pantalon_edit', {'id': pantalon.id}) }}">{% trans %} modifier {% endtrans %}</a>
                    </td>
                {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{% trans %} pasEnregistrements {% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_pantalon_new') }}" class='btn btn-outline-primary'>{% trans %} nouveauProduit {% endtrans %}</a>
{% endif %}
{% endblock %}