{% extends 'base.html.twig' %}

{% block title %}{% trans %} pantalons {% endtrans %} index{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}
    <div class="container mt-3"> 
        
        <h1 class='text-center'>{% trans %} pantalons {% endtrans %} index</h1>

        
        <div class="alert alert-info text-center py-2">
            <strong>{{ pantalons.getTotalItemCount }}</strong>  {% trans %} pantalons {% endtrans %} {% trans %} auTotal {% endtrans %}
        </div>

        <table class="table table-hover"> 
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pantalons, 'Id', 'p.id') }}</th>
                    <th>{% trans %} nomProduit {% endtrans %}</th>
                    <th>{{ knp_pagination_sortable(pantalons, 'prix'|trans, 'p.prix') }}</th>
                    <th>{% trans %} marque {% endtrans %}</th>
                    <th>{% trans %} description {% endtrans %}</th>
                    <th>{% trans %} stock {% endtrans %}</th>
                    <th>{% trans %} status {% endtrans %}</th>
                    <th>{% trans %} taille {% endtrans %}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for pantalon in pantalons %}
                <tr>
                    <td>{{ pantalon.id }}</td>
                    <td>{{ pantalon.nom }}</td>
                    <td>{{ pantalon.prix }}</td>
                    <td>{{ pantalon.marque }}</td>
                    <td>{{ pantalon.description }}</td>
                    <td>{{ pantalon.stock }}</td>
                    <td>{{ pantalon.status ? pantalon.status.value : 'N/A' }}</td>
                    <td>{{ pantalon.taille }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('app_pantalon_show', {'id': pantalon.id}) }}" class="btn btn-sm btn-info">{% trans %} voir {% endtrans %}</a>
                            <a href="{{ path('app_pantalon_edit', {'id': pantalon.id}) }}" class="btn btn-sm btn-warning">{% trans %} modifier {% endtrans %}</a>
                        </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="9" class="text-center">{% trans %} pasEnregistrements {% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex justify-content-center my-4">
            {{ knp_pagination_render(pantalons) }}
        </div>

        <div class="text-center mb-5">
            <a href="{{ path('app_pantalon_new') }}" class='btn btn-outline-primary'>{% trans %} nouveauProduit {% endtrans %}</a>
        </div>
    </div>
{% endif %}
{% endblock %}