{% extends 'base.html.twig' %}

{% block title %}{% trans %} pulls {% endtrans %} index{% endblock %}

{% block body %}


{% if is_granted('ROLE_ADMIN') %}

<div class="container mt-3"> 
    <h1 class='text-center'>{% trans %} pulls {% endtrans %} index</h1>

    <div class="alert alert-info text-center py-2">
            <strong>{{ pulls.getTotalItemCount }}</strong> {% trans %} pulls {% endtrans %} {% trans %} auTotal {% endtrans %}
        </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %} nomProduit {% endtrans %}</th>
                <th>{% trans %} prix {% endtrans %}</th>
                <th>{% trans %} marque {% endtrans %}</th>
                <th>{% trans %} description {% endtrans %}</th>
                <th>{% trans %} stock {% endtrans %}</th>
                <th>{% trans %} status {% endtrans %}</th>
                <th>{% trans %} taille {% endtrans %}</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for pull in pulls %}
            <tr>
                <td>{{ pull.id }}</td>
                <td>{{ pull.nom }}</td>
                <td>{{ pull.prix }}</td>
                <td>{{ pull.marque }}</td>
                <td>{{ pull.description }}</td>
                <td>{{ pull.stock }}</td>
                <td>{{ pull.status.value }}</td>
                <td>{{ pull.taille }}</td>
                {% if is_granted('ROLE_ADMIN') %}
                        <td>
                            <a href="{{ path('app_pull_show', {'id': pull.id}) }}" class="btn btn-sm btn-info">{% trans %} voir {% endtrans %}</a>
                            <a href="{{ path('app_pull_edit', {'id': pull.id}) }}" class="btn btn-sm btn-warning">{% trans %} modifier {% endtrans %}</a>
                        </td>
                    {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="9">{% trans %} pasEnregistrements {% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center my-4">
        {{ knp_pagination_render(pulls) }}
    </div>

    <a href="{{ path('app_pull_new') }}" class='btn btn-outline-primary'>{% trans %} nouveauProduit {% endtrans %}</a>
{% endif %}
{% endblock %}