{% extends 'base.html.twig' %}

{% block title %}{% trans %}pageGestionProduits{% endtrans %}{% endblock %}

{% block body %}

<h1>{% trans %}pageGestionProduits{% endtrans %}</h1>

{% if is_granted('ROLE_ADMIN') %}
    <br>
    <a href="{{ path('app_pull_admin') }}" class='btn btn-outline-primary'>{% trans %}gererPulls{% endtrans %}</a>
    <a href="{{ path('app_t_shirt_admin') }}" class='btn btn-outline-primary'>{% trans %}gererTShirts{% endtrans %}</a>
    <a href="{{ path('app_pantalon_admin') }}" class='btn btn-outline-primary'>{% trans %}gererPantalons{% endtrans %}</a>
    <a href="{{ path('app_short_admin') }}" class='btn btn-outline-primary'>{% trans %}gererShorts{% endtrans %}</a>
    <a href="{{ path('app_user_admin') }}" class='btn btn-outline-primary'>{% trans %}gererUtilisateurs{% endtrans %}</a>
    <a href="{{ path('commande_admin') }}" class='btn btn-outline-primary'>{% trans %}gererCommandes{% endtrans %}</a>
{% else %}
    <h2>{% trans %}pasAutorise{% endtrans %}</h2>
{% endif %}

{% endblock %}
